<div class="calendar">
    <!-- grid -->
    <div class="month">
        <div class="month_name">Mes
        </div>

        <div class="month_days">
            {% for day in cal %}
            <div href="#" class="day tooltip" {% if day.background %}
                style="background-color: rgb({{day.background.0}},{{day.background.1}},{{day.background.2}});border-radius: 0"
                {%endif%}>
                {{day.date}}
                <span class="tooltiptext">
                    {{day.percentage}}
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>