<div class="calendar">
    <!-- grid -->
    <div class="month">
        <div class="month_name">Semana
        </div>

        <div class="month_days">
            <div class="day_names">
                <div class="day">Lun</div>
                <div class="day">Mar</div>
                <div class="day">Mie</div>
                <div class="day">Jue</div>
                <div class="day">Vie</div>
                <div class="day">Sab</div>
                <div class="day">Dom</div>
            </div>
            {% for day in cal %}
            <div href="#" class="day tooltip" large_date="{{day.large_date}}"
                {% if day.background %}
                style="background-color: rgb({{day.background.0}},{{day.background.1}},{{day.background.2}});border-radius: 0"
                {%endif%}>
                <span class="tooltiptext">
                    {{day.percentage}}
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>