@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* https://coolors.co/palette/03045e-0077b6-00b4d8-90e0ef-caf0f8 */
:root {
    --o1: #e5e5e5;
    --o2: #a5c5cc;
    --o3: #00B4D8;
    --o4: #0077B6;
    --o5: #03045E;
}

* {
    box-sizing: border-box !important;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

hr {
    width: 100%;
}

.month_days a {
    text-decoration: none !important;
    color: black !important;
}

.calendar {
    width: 100%;
    display: grid;
    box-sizing: border-box;
    font-size: 0.75rem;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
}

.month {
    max-width: 250px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: auto;
    margin-right: auto;
}

.month_name {
    font-size: 1.25rem;
}

.month_days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
}

.day_names {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(219, 218, 220);
    font-weight: 500;
}

.day {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    position: relative;
}

.month_days>.day:hover {
    background-color: rgb(233, 231, 235);
}

.month_days>a {
    text-decoration: none;
}

.no_month {
    visibility: hidden;
}

.today {
    background-color: var(--blue-light);
    color: black;
}

.yes_month {
    color: black;
}

.weekend {
    color: black;
}

.day[large_date] {
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: fit-content;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 1px 8px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}


.row {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

/* ROW-MENU */
.row-menu-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
    height: 3rem;
    border: none;
    border-bottom: 3px solid var(--blue-light);
    background-color: hsl(0, 48%, 95%);
    transition: all 0.5s ease; /* Transición suave de 0.3 segundos */
}

.row-menu .row-menu-item:first-child {
    border-top-left-radius: 6px !important;
}

.row-menu .row-menu-item:last-child {
    border-top-right-radius: 6px !important;
}

.row-menu-item:hover,
.row-menu-item.active {
    background-image: linear-gradient(to top, var(--grey) 1%,transparent 40% ); /* Gradiente hacia arriba */
    border-bottom: 3px solid var(--blue-dark);
    cursor: pointer;
    font-weight: 510;
}

.row-menu-item.active {
    font-size: 1.2rem;
    flex: 2;
}

.view {
    display: none;
    justify-content: center;
    align-content: center;
}

.view.active {
    display: flex !important;
    flex-direction: column;
    gap: 10px;
}

.content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

.wrapper-calendario {
    width: 100%;
    padding: 15px;
    flex: 3;
}

.wrapper-lista {
    width: 100%;
    background-color: var(--o1);
    flex: 1;
    min-width: 350px;
    padding: 15px;
}

.wrapper-lista h1,
.wrapper-calendario h1 {
    border-bottom: solid black 1px;
}


.lista-modo {
    padding: 5px;
    margin: 5px;
    border-bottom: solid black 2px;
}

.lista-modo p {
    padding: 6px;
    vertical-align: middle;
    border-radius: 5px;
    transition: transform 0.2s ;
}


.lista-modo p:hover {
    background-color: var(--o2);
    cursor: pointer;
    transform: scale(1.02);
}

.lista-modo p::before {
    content: "+";
    margin-right: 5px; /* Añade un espacio entre el símbolo "+" y el texto del párrafo */
}


.lista-modo .green::before {
    color: green;
}
  
.lista-modo .red::before {
    color: red;
}

.lista-modo * {
    margin-bottom: 7px;
}

.calendario-detalle {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.select-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 500px;
}

.select-name {
    background-color: var(--o1);
    padding: 5px;
    border: solid black 1px;
    border-radius: 7px 0 0 7px;
}

.select-input {
    flex: 1;
    padding: 5px;
    border: solid black 1px;
    border-left: none;
    border-radius: 0 7px 7px 0;
    position: relative;
}

.select-selected {
    cursor: pointer;
}

.select-list {
    width: calc(100%);
    position: absolute;
    left: 50%;
    top: 30px;
    padding: 10px;
    background-color: var(--o1);
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    border-radius: 0 0 7px 7px;
    visibility: hidden;
    z-index: 99;
}

.select-list p {
    padding: 10px 0 10px 10px ;
    border-radius: 5px;
    transition: transform 0.2s;
}

.select-list p:hover {
    background-color: var(--o2);
    cursor: pointer;
    transform: scale(1.01);
}

p.selected {
    background-color: var(--o2);
}


.small-menu {
    width: 500px;
    height: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--o1);
    border-radius: 5px 5px 0 0;
}

.small-menu-item {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-bottom: solid var(--o3) 3px;
    cursor: pointer;
    transition: all 0.5s;
}

.small-menu-item.active {
    flex: 2;
}


.small-menu-item:hover {
    border-bottom: solid var(--o5) 3px;
    background-color: var(--o1);
}

.small-menu-item.active {
    flex: 2;
    border-bottom: solid var(--o5) 3px;
}


.view-display {
    display: flex;
    flex-direction: column;
}

.year-select {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 2rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.year-select * {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--o1);
    border: var(--o5) solid 1px;
    height: 100%;
}

.year-select .center-row {
    flex: 1;
    font-weight: bold; /* Para negrita */
    font-style: italic; /* Para cursiva (italica) */
    border-left: none;
    border-right: none;
}

.year-select .row-input {
    width: 50px;
}

.year-select .row-input:hover {
    background-color: var(--o2);
    cursor: pointer;
}

.year-select .row-input:first-child {
    border-radius: 10px 0 0 10px;
}

.year-select .row-input:last-child {
    border-radius: 0 10px 10px 0;
}


.cal-grid {
    flex: 1;
    display: grid;
    grid-template-areas:
        'cal-year cal-year'
        'cal-month cal-week';
    grid-gap: 50px 10px; /* Añadido para separar las celdas del grid */
    align-items: center;

}

.cal-year {
    grid-area: cal-year; /* Sin comillas */
    width: 100%;
}

.cal-month {
    grid-area: cal-month; /* Sin comillas */
}

.cal-week {
    grid-area: cal-week; /* Sin comillas */
}

@media (max-width: 1200px) {

    .content {
        flex-direction: column;
    }

    .wrapper-calendario {
        min-width: 10px;
        flex: auto;
    }

    .wrapper-lista {
        min-width: none;
        flex: auto;
    }
}